<h1>Hello from home</h1>

<%= link_to "About", about_path %>

<%= link_to image_tag("gwenProfile.jpg"), "http://gwenfaraday.com" %>

<!-- <%= image_tag 'gwenProfile.jpg' %>

<%= link_to image_tag('gwenProfile.jpg'), about_path %> -->
